h1{
    text-align: center;
}

.li{
    background-color: lightblue;
}

.blue{
    background-color: blue;
}

table{
    margin: auto;
    text-align: center;
    width: 50%;
    border-collapse: collapse;
}


th,td{
    border: 2px solid black;
    
}