h1{
    text-align: center;
}


div{
    margin: 20px;
    width: 25%;
    height: 300px;
    background-color: rgb(173, 216, 230);
    text-align: center;
    border: 10px solid pink;
    display:inline-table;
    
    
}
#uno{
    background-image: url("logoCSS.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}

#dos{
    background-image: url("logoCSS.png");
    background-position: center;
    background-repeat: no-repeat;
}

#tres{
    background-image: url("logoCSS.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}