h1, #parrafo{
    padding: 5px;
    text-align: center;
    border: solid 5px black;
}

h1{
    background-color: lightblue;
}


div{
    border: solid 10px orange;
    background-color: pink;
    padding: 15px;
    margin: 25px;
    width: 500px;
    margin: auto;
}

#uno{
    border: solid 2px blue;
    border-top: solid 5px green;
    padding: 5px;
}

#dos{
    border: blue 2px solid;
    border-bottom: green 2px solid;
    padding: 5px;
}

#tres{
    border-top: 5px green  solid;
    border-bottom: 5px green  solid;
    border-left: 10px green  solid;
    border-right: 10px green  solid;
    padding: 5px;
}

#cuatro{
    border-top: blue 8px solid;
    border-right: red 3px solid;
    border-bottom: white 7px solid;
    border-left: purple 7px solid;
    padding: 5px;
}